section {
    max-width: 1240px;
    width: 94%;
    margin: auto;


}
.about{
    text-align: center;
}
.about h1{
    font-size: 40px;

}

.about span , .about a{
    color: #43DDE6;
    padding-bottom: 2rem !important;
}
